<div class="row">
  <div class="col-12 offset-md-3">
    <h1>Assets</h1>
  </div>

  <div class="col-md-3">
    <div class="input-group mb-3">
      {{input value=searchText placeholder="Search assets…" enter=(action "onSearch")}}

      <div class="input-group-append">
        <button class="btn btn-primary cursor-pointer d-inline-flex align-items-center" onclick={{action "onSearch"}}>{{mdi-icon "magnify" size=18}}</button>
      </div>
    </div>

    {{#form-group label="Category"}}
      {{#power-select
        options=categories
        selected=(find-by "id" category categories)
        onchange=(action "categoryChanged")
        allowClear=true
        as |item|
      }}
        {{item.name}}
      {{/power-select}}
    {{/form-group}}

    {{#form-group label="Godot version"}}
      {{#power-select
        options=constants.godotVersions
        selected=godot_version
        onchange=(action (mut godot_version))
        allowClear=true
        as |item|
      }}
        {{item}}
      {{/power-select}}
    {{/form-group}}

    {{#form-group label="Order by"}}
      {{#power-select
        options=sortOptions
        selected=sort
        onchange=(action (mut sort))
        as |item|
      }}
        {{item}}
      {{/power-select}}
    {{/form-group}}

    {{#form-group label="Items per page"}}
      {{#power-select
        options=maxResultsOptions
        selected=max_results
        onchange=(action (mut max_results))
        as |item|
      }}
        {{item}}
      {{/power-select}}
    {{/form-group}}
  </div>

  <div class="col-md-9">
    <div class="row">
      {{#each model as |asset|}}
        {{asset-preview asset=asset class="col-md-4 col-lg-4 col-xl-3 mb-4"}}
      {{/each}}
    </div>
  </div>
</div>


