<div class="row">
  <div class="col-3">
    <div class="input-group mb-3">
      {{input value=searchText placeholder="Search assets…" enter=(action "onSearch")}}

      <div class="input-group-append">
        <button class="btn btn-primary cursor-pointer d-inline-flex align-items-center" onclick={{action "onSearch"}}>{{mdi-icon "magnify" size=18}}</button>
      </div>
    </div>

    {{#form-group labelIsShown=false}}
      {{#power-select
        options=categories
        selected=(find-by "id" category categories)
        onchange=(action "categoryChanged")
        placeholder="Category"
        allowClear=true
        as |item|
      }}
        {{item.name}}
      {{/power-select}}
    {{/form-group}}

    {{#form-group labelIsShown=false}}
      {{#power-select
        options=constants.godotVersions
        selected=godot_version
        onchange=(action (mut godot_version))
        placeholder="Godot version"
        allowClear=true
        as |item|
      }}
        Godot version: {{item}}
      {{/power-select}}
    {{/form-group}}
  </div>
  <div class="col-9">
    <div class="row justify-content-end mb-3">
      <div class="col-auto">
        <div class="form-inline">
          <label class="mr-1">Order by</label>
          {{#power-select
            options=sortOptions
            selected=sort
            onchange=(action (mut sort))
            triggerClass="mr-3"
            as |item|
          }}
            {{item}}
          {{/power-select}}

          <label class="mr-1">Items per page</label>
          {{#power-select
            options=maxResultsOptions
            selected=max_results
            onchange=(action (mut max_results))
            as |item|
          }}
            {{item}}
          {{/power-select}}
        </div>
      </div>
    </div>
    <div class="row">
      {{#each model as |asset|}}
        {{asset-preview asset=asset class="col-md-4 col-lg-3 col-xl-2 mb-4"}}
      {{/each}}
    </div>
  </div>
</div>


