<img class="mr-3" src={{asset.iconUrl}} alt={{asset.title}} width="80" height="80">
<div class="media-body">
  <h5 class="mt-0">{{asset.title}} <small>{{asset.versionString}}</small></h5>
  <span class="badge badge-primary">{{asset.category}}</span>
  <span class="badge badge-danger">{{asset.godotVersion}}</span>
  <span class="badge badge-info">{{asset.supportLevel}}</span>
  <p class="text-muted">
    Submitted by user {{asset.author}}; {{asset.cost}}; {{asset.modifyDate}}
  </p>
</div>
