<div class="d-flex w-100 h-100 flex-column">
  <header class="col-auto navbar bg-white shadow-sm mb-3">
    <div class="container justify-content-start">
      {{#link-to "main" class="navbar-brand d-flex align-items-center"}}
        <img src="/assets/godot.svg" alt="Godot Engine" height="48" class="mr-2"> Asset Store
      {{/link-to}}

      <ul class="navbar-nav">
        <li class="nav-item">
          {{link-to "Assets" "main.assets" class="p-2 text-dark"}}
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {{#if session.isAuthenticated}}
          {{#basic-dropdown
            tagName="li"
            class="nav-item dropdown"
            horizontalPosition="auto-right"
            as |dd|
          }}
            {{#dd.trigger class="nav-link d-flex align-items-center cursor-pointer"}}
              {{mdi-icon "account-outline" class="mr-2 border rounded-circle fill-border-color" size=40}}
              {{session.data.authenticated.username}}
              {{mdi-icon "chevron-down" class="ml-1" size=14}}
            {{/dd.trigger}}

            {{#dd.content}}
              <div class="dropdown-menu dropdown-menu-right d-block">
                {{link-to "Submit asset" "main.assets.new" class="dropdown-item" invokeAction=(action dd.actions.close)}}
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" onclick={{action "invalidateSession"}}>Logout</button>
              </div>
            {{/dd.content}}
          {{/basic-dropdown}}
        {{else}}
          {{#link-to "login" class="d-flex align-items-center"}}
            Sign in {{mdi-icon "login" class="ml-1"}}
          {{/link-to}}
        {{/if}}
      </ul>
    </div>
  </header>

  <main role="main" class="container mb-3">
    {{outlet}}
  </main>

  <footer class="p-3 mt-auto bg-purple text-white">
    <div class="container">
      <a href="https://godotengine.org" title="Godot Engine" class="text-white">Godot Engine</a>
    </div>
  </footer>
</div>
