<div class="border bg-white rounded">
  <div class="p-3">
    {{asset-preview asset=model class="mb-3"}}

    {{#if model.description}}
      <p>{{model.description}}</p>
    {{/if}}

    <div class="row">
      <div class="col">
        <a href={{model.downloadUrl}} class="btn btn-primary">Download</a>
        <a href={{model.browseUrl}} class="btn btn-outline-secondary">View files</a>
      </div>
      <div class="col text-right">
        <a href={{model.issuesUrl}} class="btn btn-link text-danger">Submit an issue</a>
      </div>
    </div>
  </div>

  {{#if model.previews.length}}
    <div class="border-top p-3">
      {{#photo-swipe items=model.images history=false as |photoswipe|}}
        {{#each model.formattedPreviews as |preview|}}
          {{#if (eq preview.type "image")}}
            <img
              src={{preview.thumbnail}}
              height="170"
              class="mr-3 border cursor-pointer"
              onclick={{action "openPreview" photoswipe preview}}
              alt=""
            >
          {{/if}}

          {{#if (eq preview.type "video")}}
            <a href={{preview.link}}>
              <img
                src={{preview.thumbnail}}
                height="170"
                class="mr-3 border cursor-pointer"
                alt=""
              >
            </a>
          {{/if}}
        {{/each}}
      {{/photo-swipe}}
    </div>
  {{/if}}

  {{#if model.downloadHash}}
    <div class="border-top p-3 text-muted">
      Sha256: {{model.downloadHash}}
    </div>
  {{/if}}
</div>
